Binaries
DerivedDataCache
Intermediate
Saved
Build
NoCommitResource
*.sdf
*.sln
*.suo
*.opensdf
*.opendb
*.db
/docs/sphinx-build-result
/.vs
docs/_build

# Cache files for the editor to use
DerivedDataCache/*
/Plugins/FlyingAI
.vsconfig
